/*---------------------------------------------------------------------
//
//  TODOWIN.RC
//
//      Copyright (c) 1991 by Borland International
//      All Rights Reserved.
//
//---------------------------------------------------------------------*/

#include <windows.h>
#include "tododefs.h"

TodoMenu MENU
BEGIN
        POPUP "&File"
        BEGIN
                MENUITEM "&New",        IDM_NEW_LIST,
                MENUITEM "&Open...",    IDM_OPEN,
                MENUITEM "&Save",       IDM_SAVE,
                MENUITEM "Save &As...", IDM_SAVEAS,
                MENUITEM SEPARATOR
                MENUITEM "E&xit", IDM_QUIT
        END

        POPUP "&Edit"
        BEGIN
                                MENUITEM "&Edit Entry...",   IDM_EDIT
                                MENUITEM "&Insert Entry...", IDM_NEW_ENTRY
                                MENUITEM "&Delete Entry...", IDM_DEL_ENTRY
        END

        POPUP "&Help"
        BEGIN
                MENUITEM "&About Todo List", IDM_ABOUT
        END

END

AboutBox DIALOG 22, 17, 144, 75
CAPTION "About Todo"
STYLE WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP
BEGIN
                CTEXT "Borland International", -1, 0, 5, 144, 8
                CTEXT "Todo List", -1, 0, 14, 144, 8
                CTEXT "Version 1.0", -1, 0, 34, 144, 8
                CONTROL "OK", IDOK, "BUTTON", WS_GROUP, 56, 51, 32, 14
END

OpenFile DIALOG 10, 10, 148, 116
CAPTION "Select File"
STYLE WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP
BEGIN
                CONTROL "File Name:", -1, "static", SS_LEFT | WS_CHILD, 2, 4, 76, 10
                CONTROL "", IDD_FNAME, "edit", ES_LEFT | WS_BORDER | WS_TABSTOP | WS_CHILD, 2, 18, 144, 12
                CONTROL "Files in", -1, "static", SS_LEFT | WS_CHILD, 2, 40, 38, 10
                CONTROL "", IDD_FPATH, "static", SS_LEFT | WS_CHILD, 44, 40, 98, 12
                CONTROL "", IDD_FLIST, "listbox", LBS_NOTIFY | WS_BORDER | WS_VSCROLL | WS_CHILD, 2, 54, 70, 58
                DEFPUSHBUTTON "OK", IDOK, 88, 62, 50, 14
                PUSHBUTTON "Cancel", IDCANCEL, 88, 86, 50, 14
END

TodoEdit DIALOG 66, 35, 159, 143
CAPTION "To Do"
STYLE WS_BORDER | WS_CAPTION | WS_DLGFRAME | WS_POPUP
BEGIN
        CONTROL "Date Entered:", -1, "static", SS_LEFT | WS_CHILD, 14, 8, 45, 9
                CONTROL "", IDE_DATEENT, "EDIT", ES_LEFT | WS_BORDER | WS_TABSTOP, 14, 20, 68, 12
                CONTROL "Date Due:", -1, "static", SS_LEFT | WS_CHILD, 15, 38, 44, 11
                CONTROL "", IDE_DATEDUE, "EDIT", ES_LEFT | WS_BORDER | WS_TABSTOP, 14, 51, 68, 12
        CONTROL "Priority:", -1, "BUTTON", BS_GROUPBOX | BS_LEFTTEXT, 101, 9, 46, 58
        CONTROL "Low", IDE_LOW, "BUTTON", BS_RADIOBUTTON | WS_GROUP | WS_TABSTOP, 106, 20, 28, 12
        RADIOBUTTON "Medium", IDE_MEDIUM, 106, 35, 37, 12
        RADIOBUTTON "High", IDE_HIGH, 106, 50, 28, 12
        CONTROL "What to do:", -1, "static", SS_LEFT | WS_CHILD, 13, 76, 40, 8
        CONTROL "", IDE_TEXT, "edit", ES_LEFT | ES_AUTOHSCROLL | WS_BORDER | WS_GROUP | WS_TABSTOP, 13, 90, 134, 12
        DEFPUSHBUTTON "OK", IDOK, 29, 115, 43, 14, WS_TABSTOP
        PUSHBUTTON "Cancel", IDCANCEL, 88, 115, 42, 14, WS_TABSTOP
END

