// ObjectWindows - (C) Copyright 1992 by Borland International

EDITCOMMANDS ACCELERATORS
BEGIN
  VK_DELETE, CM_EDITCUT, VIRTKEY, SHIFT
  VK_INSERT, CM_EDITCOPY, VIRTKEY, CONTROL
  VK_INSERT, CM_EDITPASTE, VIRTKEY, SHIFT
  VK_DELETE, CM_EDITCLEAR, VIRTKEY, CONTROL
  VK_BACK, CM_EDITUNDO, VIRTKEY, ALT
  VK_F3, CM_EDITFINDNEXT, VIRTKEY
END
